/* Game Styling */
    /* Bird */
#bird-container{
    position: relative;
    left: 100px;
    top: 150px;
    width: 75px;
    height: 55px;
}

#bird-img{
    position: relative;
    bottom: 10px;
    width: 75px;
    height: 75px;
}

    /* Pipes */
.pipe-container{
    height: 400px;
}

    /* Game Prompts */
.game-prompt{
    position: absolute;
    width: 800px;
    height: 400px;
    background-color: #0004;
    z-index: 1;
}

.game-prompt h2{
    color: #FFF;
    text-shadow: 2px 2px #444;
    position: relative;
    top: 40%;
    text-align: center;
}

.game-prompt h3{
    color: #FFF;
    text-shadow: 2px 2px #444;
    position: relative;
    top: 44%;
    text-align: center;
}

.game-prompt-button-container{
    position: relative;
    top: 200px;
    left: 270px;
}

.game-prompt button{
    width: 130px;
    height: 45px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
}

.game-prompt button:hover{
    cursor: pointer;
}

/* Page Styling */
#game-container{
    width: 800px;
    height: 400px;
    position: absolute;
    left: 225px;
    top: 100px;
    background-color: skyblue;
}

#info-container{
    position: absolute;
    top: 100px;
    left: 25px;
    width: 175px;
    height: 300px;
}

#score-container{
    position: relative;
    left: 10px;
    width: 155px;
    height: 90px;
    background-color: #F7F7F9;
    border: 1px solid #000C;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.score-text{
    text-align: center;
}

#start-stop-container{
    position: relative;
    top: 25px;
}

#start-stop-container button{
    position: relative;
    left: 20px;
    margin-bottom: 25px;
    width: 130px;
    height: 45px;
    background-color: #DDD;
    border: 1px solid #000C;
    border-radius: 4px;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
}

#start-stop-container button:hover{
    background-color: #CCC;
    cursor: pointer;
}

/* Dark Mode Page Styling */
body.dark-mode #score-container{
    background-color: #0F0F0F;
    border: 1px solid #E0E0E0;
}

body.dark-mode #start-stop-container button{
    background-color: #323232;
    border: 1px solid #E0E0E0;
    color: #E0E0E0;
}

body.dark-mode #start-stop-container button:hover{
    background-color: #555;
}

/* Hidden Display */
.hidden{
    display: none;
}
